.homer-dashboard{
	display: none;
	background-color: white;
	border: solid 1px #8ebbda;
	border-radius: 2px;
	margin: 6px;
}
.homer-dashboard *{
	box-sizing: border-box;
}

.homer-dashboard > .header{
	background-color: #daeefb;
	padding: 6px;
	color: #0d4760;
	font-weight: bold;
}

.homer-dashboard > .content{
	padding: 6px;
	min-height: 20px;
}

/* content left side  */
.homer-dashboard > .content > .side-left{
	display: inline-block;
	vertical-align: top;
	width: 70%;
}

.homer-dashboard > .content > .side-left > .column-left{
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

.homer-dashboard > .content > .side-left > .bar-up{
	text-align: right;
	text-size: 8px;
}

.homer-dashboard > .content > .side-left > .bar-down{
	padding-left: 15%;
}

.homer-dashboard > .content > .side-left > .chart{
	display: inline-block;
	vertical-align: top;
	width: 85%;
	border: solid 1px #e3e3e3;
}

.homer-dashboard > .content > .side-left > .chart > svg{
	width: 100%;
}

.homer-dashboard > .content > .side-left > .legend{
}

/* content right side  */
.homer-dashboard > .content > .side-right{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.homer-dashboard > .content > .side-right > .number{
}

.homer-dashboard > .content > .side-right > .button{
}